<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto4F</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TOP">
                <span class="bi bi-top-logo-nav-menu" aria-hidden="true"></span> TOP
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mihistoria">
                <span class="bi bi-person-circle-nav-menu" aria-hidden="true"></span> Mi Historia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="habilidades">
                <span class="bi bi-plus-circle-nav-menu" aria-hidden="true"></span> Habilidades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experiencia">
                <span class="bi bi-person-lines-nav-menu" aria-hidden="true"></span> Experiencia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="divisas">
                <span class="bi bi-money-coin-nav-menu" aria-hidden="true"></span> Conversor Divisas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diasmes">
                <span class="bi bi-calendar-hearth-nav-menu" aria-hidden="true"></span> Dias por Mes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listanumeros">
                <span class="bi bi-number-order-nav-menu" aria-hidden="true"></span> Lista de Numeros
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="numerosprimos">
                <span class="bi bi-number-cousin-nav-menu" aria-hidden="true"></span> Numeros Primos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="to-do">
                <span class="bi bi-to-do-nav-menu" aria-hidden="true"></span> To-Do list
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="musica">
                <span class="bi bi-music-note-nav-menu" aria-hidden="true"></span> Música
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estudiantes">
                <span class="bi bi-journal-code-nav-menu" aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventario">
                <span class="bi bi-shop-window-nav-menu" aria-hidden="true"></span> Inventario
            </NavLink>
        </div>
    </nav>
</div>