@page "/experiencia"
@attribute [StreamRendering]

<PageTitle>Experiencia</PageTitle>

<h1>Experiencia</h1>

<p>En esta sección les mostraré mi experiencia</p>

<table class="table">
    <tr>
        <th>Empresa</th>
        <th>Puesto</th>
        <th>Fecha</th>
    </tr>
    <tr>
        <td>Empresa 1</td>
        <td>Puesto 1</td>
        <td>Fecha 1</td>
    </tr>
</table>

<form method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Check this out
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

</form>