@page "/habilidades"
@attribute [StreamRendering]

<PageTitle>Habilidades</PageTitle>

<h1>Habilidades</h1>

<p>En esta sección les listaré mis habilidades</p>

<ul>
    <li>Jugar videojuegos</li>
    <li>Programar (supuestamente)</li>
    <li>Procrastinar</li>
</ul>

<p>Lenguajes que domino</p>

<ol>
    <li>Español</li>
    <li>Mexicano</li>
    <li>HTML</li>
</ol>