@page "/mihistoria"

<PageTitle>Mi Historia</PageTitle>

<div class="p-5 mb-4 bg-light rounded-3">
    <h1>Mi Historia</h1>
    <p> A continuación les escribiré información relevante de mi vida.</p>
</div>


<div class="container">
    <div class="row">


        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images\formacion-academica.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Formación</h5>
                    <p class="card-text">Información sobre lo que se supone es mi formación académica.</p>
                    <a class="btn btn-primary">Conocer Más.</a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images\Hobbie.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hobbies</h5>
                    <p class="card-text">Aquí hay algunos de los hobbies en los que gasto mi tiempo.</p>
                    <a class="btn btn-primary">Conocer Más.</a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images\Carrera.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Carrera</h5>
                    <p class="card-text">Actualmete "estudio" ingeniería de software. Cuento mi experiencia.</p>
                    <a class="btn btn-primary">Conocer Más.</a>
                </div>
            </div>
        </div>

    </div>
</div>

@code {

}